# Author: Kota Miura

Plugins>EMBLtools>4D hyperstack, "extract current time point", de.embl.cmci.plugins.Extract_3D_from_4D
Plugins>EMBLtools>4D hyperstack, "time point reducer", de.embl.cmci.plugins.Extract_4D_from_4D
Plugins>EMBLtools, "FFTFilter NoDialog", de.embl.cmci.plugins.FFTFilter_NoDialog
Plugins>EMBLtools>3D, "XYZ Max Projection", de.embl.cmci.plugins.XYZ_MaxProject
