# Author: Kota Miura

Plugins>EMBLtools>4D hyperstack, "extract current time point", emblcmci.plugins.Extract_3D_from_4D
Plugins>EMBLtools>4D hyperstack, "time point reducer", emblcmci.plugins.Extract_4D_from_4D
Plugins>EMBLtools, "FFTFilter NoDialog", emblcmci.plugins.FFTFilter_NoDialog
Plugins>EMBLtools>3D, "XYZ Max Projection", emblcmci.plugins.XYZ_MaxProject
